<!DOCTYPE html>
{% extends "base.html" %} {% load static %}
{% block title %} 登录 {% endblock title %}
{% block content %}
<div class="container justify-content-center" >
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action=".">
                {% csrf_token %}
                <!-- 账号 -->
                <div class="form-group col-md-4">
                    <label for="username">昵称</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <!-- 邮箱 -->
                <div class="form-group col-md-4">
                    <label for="email">邮箱</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <!-- 电话 -->
                <div class="form-group col-md-4">
                    <label for="tel">电话</label>
                    <input type="text" class="form-control" id="tel" name="tel" required>
                </div>
                <!-- 单位 -->
                <div class="form-group col-md-4">
                    <label for="dep">单位</label>
                    <input type="text" class="form-control" id="dep" name="dep">
                </div>
                <!-- 职称 -->
                <div class="form-group col-md-4">
                    <label for="job">职称</label>
                    <input type="text" class="form-control" id="password" name="password">
                </div>
                <!-- 密码 -->
                <div class="form-group col-md-4">
                    <label for="password">设置密码</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <!-- 确认密码 -->
                <div class="form-group col-md-4">
                    <label for="password2">确认密码</label>
                    <input type="password" class="form-control" id="password2" name="password2" required>
                </div>
                 <input type="hidden" name="next" value="{{ request.GET.next }}">
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}