<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <div class="row">
        <!-- 标题及作者 -->
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success">
            <p>作者：{{ article.author }}删除文章</p>

        </div>
         <!-- 文章正文 -->
        <div class="col-12">

            <p>{{ article.content }}</p>
        </div>
    </div>
    <hr color="green">
    <!-- 发表评论 -->
        {% if user.is_authenticated %}
    <br>
        {% else %}
    <br>
    <h5 class="row justify-content-center">
        请<a href="{% url 'userprofile:login' %}">登录</a>后回复
    </h5>
    <br>
    {% endif %}
        <!-- 显示评论 -->
    {% if len %}
    
    {% endif %} 
    <h4>共有{{ comments.count }}条评论</h4>
    <div class="row">
        {% for comment in comments %}
            <hr>
            <p>
                <strong style="color: pink">
                    {{ comment.user }}
                </strong> 于
                <span style="color: green">
                    {{ comment.created_time | date:"Y-m-d H:i:s" }}
                </span> 时说：
            </p>
            <pre style="font-family: inherit; font-size: 1em;">
        {{ comment.body }}</pre>
        {% endfor %}
    </div>
{% endblock title %}


