{% load static  %}
<!-- Footer -->
<footer class="py-3"style="background-color: #c3c3c3;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center" >
                <a href="" style="color: #0a001f">网站声明</a>
                <a href="" style="color: #0a001f">|关于我们|</a>
                <a href="" style="color: #0a001f">联系我们</a>
                <hr color="blue">
                <a href=""style="color: #0a001f">XX科技网</a>
            </div>
        </div>
    </div>
</footer>